:root {
  --bg: #0b0e14;
  --card: #161a23;
  --accent: #6ee7ff;
  --text: #e5e7eb;
}

* { box-sizing: border-box; }

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background: var(--bg);
  color: var(--text);
  font-size: clamp(1rem, 1vw, 1rem);
}

.hero {
  padding: 1vw 2vw;
  text-align: center;
  background: radial-gradient(circle at top, #1f2937, #020617);
}

.hero h1 {
  font-size: clamp(2rem, 5vw, 3rem);
}

.hero p {
  font-size: clamp(1rem, 2vw, 2rem);
  opacity: 0.8;
}

.cta a {
  margin: 1vw;
  padding: 2vw 4vw;
  border-radius: 30px;
  text-decoration: none;
  background: var(--accent);
  color: #000;
  font-weight: 600;
}

.cta .secondary {
  background: transparent;
  border: 1px solid var(--accent);
  color: var(--accent);
}

.stats {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 2vw;
  padding: 5vw;
}
@media (max-width: 500px) {
  .stats {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    padding: 2vw;
  }
  .about {
    padding: 2vw;
  }
  .grid {
    grid-template-columns: 1fr;
    gap: 10px;
  }
  .project-card {
    padding: 3vw;
  }
  .simple-header{
    padding: 2vw;
  }
  .cta{
    padding: 2vw;
  }
}

.stats div {
  background: var(--card);
  padding: 1vw;
  border-radius: 20px;
  text-align: center;

}

.about {
  padding: 4vw;
  max-width: 900px;
  margin: auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2vw;
  font-size: 1.3vw;
}

.project-card {
  background: var(--card);
  padding: 2vw;
  border-radius: 18px;
  transition: transform .3s, box-shadow .3s;
}

.project-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 20px 40px rgba(0,0,0,.5);
}

.project-card a {
  color: var(--accent);
  text-decoration: none;
}

footer {
  text-align: center;
  padding: 30px;
  opacity: .5;
}

.simple-header{
  padding: 3vw;
}

.cta{
  padding: 3vw;
}

.about li{
 padding-bottom: 10px;
 font-size: 15px;
}

.project-card p{
  font-size: 1vw;
}

.project-card h2{
  font-size: 2vw;
}

@media(max-width: 500px){
  .about li{
    font-size: 15px;
  }
  .content .about p{
    font-size: 15px;
  }
  .project-card p{
  font-size: 3vw;
}
.project-card a{
  font-size: 3vw;
}

.project-card h2{
  font-size: 5vw;
}
}